<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojos</title>



    </head>
    <body>
        <table>
            <tr>
                <th>Coding Dojo Branch</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
            </tr>
            <tr>
                <% @dojos.each do |d| %>
                <td><%= d.branch %></td>
                <td><%= d.street %></td>
                <td><%= d.city %></td>
                <td><%= d.state %></td>
                <% end %>
            </tr>
        </table>

    </body>
</html>
