<h1>Rpgs#index</h1>
<p>Find me in app/views/rpgs/index.html.erb</p>

    <p>Your Gold:</p>
<form action='/process' method='post'>

    <h2>Farm</h2>
    <p>(earns 10-20 golds)</p>
    <input type='submit' value='Find Gold' name='farm'>



    <h2>Cave</h2>
    <p>(earns 10-20 golds)</p>
    <input type='submit' value='Find Gold' name='cave'>



    <h2>House</h2>
    <p>(earns 10-20 golds)</p>
    <input type='submit' value='Find Gold' name='house'>



    <h2>Casino</h2>
    <p>(earns 10-20 golds)</p>
    <input type='submit' value='Find Gold' name='casino'>
</form>
<!-- <p><%= @farm%></p> -->
<p><%= @readme%></p>
